body {margin:0;}

/* Sample sight
https://tamil.tn */


.menu-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;

  top: 0;
  right:0;
  width: 100%;
}

.menu-right {
  float:right;
}

.menu-right a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arima Madurai';
}
.menu-list {
  float: left;  
}

.menu-list a {
  display: block;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}

.menu-list a:hover {
	background-color: #4CAF50;
	color: white;
	}

.not-active a {
	color: black;
	background-color: white;
	
}

.active a {
  background-color: #4CAF50;
  color:white;
}

.signup-button, .signin-button{
	background-color:transparent;
	color:blue;
	font-size:14px;
	border-radius:12px;
	border:1px solid #797979;
	cursor: pointer;
}
.signup-button:hover, .signin-button:hover {
	background-color:#797979;
	color:white;
	border:2px solid black;
}

.signup-button-container {
	text-align:right;
	margin-top:100px;
	font-size:30px;
	color:blue;
}

.signup-footer-container {
	padding: 10px; 
	margin-top: 30px; 
	background-color: #f5f5f5;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .menu-sidebar {padding-top: 15px;}
  .menu-sidebar a {font-size: 18px;}
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ededed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 0px 8px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #482f19;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
	background-color: #515151;
  	color: #e9dee3;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 25px;
  margin-left: 0;
}


.openbtn:hover {
  background-color: #444;
  color:white;
  text-decoration:none;
}

#menu-main {
  transition: margin-left .5s;
  padding: 16px;
}

.openbtn  {
   font-size: 15px;
   cursor: pointer;
   background-color: #030303;
   color: white;
   padding: 10px 15px;
   border: none; 
}

.main-menu-container {
	display:flex;
	background-color:#030303;
}


nav ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    /* background: #eee;
    border-bottom: 1px solid #fff;
    border-radius: 3px; */
  }

nav li {
    float: left;
  }
/* 
nav #login {
    border-right: 1px solid #ddd;
     box-shadow: 1px 0 0 #fff; 
  }
*/
nav #login-icon, nav #logged-user-icon,
  nav #signup a {
  /*
    display: inline-block;
    *display: inline;
    */
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: white; /*#444; */
    text-shadow: 0 1px 0 #fff;
  }
 
nav #login-icon, nav #logged-user-icon
 {
    margin-top:10px;
    margin-right:10px;
 }
nav #login-icon {
    border-radius: 3px 0 0 3px;
}

  nav #login-icon:hover,
  nav #loggged-user-icon:hover,
  nav #login .active,
  nav #signup a:hover {
    background: #444; /*#fff; */
    
  }
 nav #login-icon:hover, nav #logged-user-icon:hover {
  
  background-color: #444;
  color:white;
  text-decoration:none;
}  
   nav #login-content {
    display: none;
    position: absolute;
    top:45px;
    margin-right:10px;
    z-index: 999;
    background: #686868;
     background-image: linear-gradient(top, #fff, #686868); 
    /*padding: 15px; */
    border: 1px solid #bdb0b0; 
     box-shadow: 0 1px 1px -1px rgba(0,0,0,.9);
    border-radius: 3px 0 3px 3px;
  }
  
   nav li #login-content {
    right: 0;
    width: 250px;
  }

  #inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 200px;
    border: 1px solid #ccc; 
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset; 
  }

  #inputs input:focus {
    background-color: #fff;
    border-color: #e8c291; 
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
  }

  #login-content #actions {
    margin: 2px 0 0 0;
    float: center;
    text-align:center;
  }

  #actions #submit {
    background-color: #ea167b;
    color: #f9f9f9;
    background-image: linear-gradient(top, #e97171, #d14545); 
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
/*    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515; 
    */

    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;

  }

  #login-content #submit:hover,
  #login-content #submit:focus {
    background-color: #c21167 ;
    background-image: linear-gradient(top, #d14545, #e97171); 
  }

  #login-content #submit:active {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  }
  
  #auth-error {
  	height:30px;
 	
  	text-align:center;
	margin:2px;
  	/*
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
                0 1px 0 rgba(255, 255, 255, 0.3) inset; 
    border: 1px solid #bdb0b0;
    */
    display:none;
    /*background-color:none; */
    visibility:hidden;
  }
  #auth-error a {
    
  	color:#ff8719;
  	background-color: transparent;
  }
  
  #login-content label {
    float: right;
    line-height: 30px;
  }

  #login-content label input {
    position: relative;
    top: 2px;
    right: 2px;
  }
  
 #logout-content {
    display: none;
    position: absolute;
    top:45px;
    margin-right:10px;
    z-index: 999;
    background: #686868;
	
    width:200px;
    margin-left:-100px;
    text-align:center;
    border-radius:12px;
     background-image: linear-gradient(top, #fff, #686868); 
    /*padding: 15px; */
    border: 1px solid #bdb0b0; 
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.9);
    border-radius: 5px 0 5px 5px;
 }
  
#logout-user-det {
	background-color: #a3a3a3;
	padding-top:19px;
    color: transparent;
    width: 200px;
   	height: 50px;
   	   
       }
#logout-content a {
	background-color:transparent;
	text-decoration:none;
	
}
#logout-content #logout-link a:hover {
	color: #c4dae8;
}

#logout-content #logout-link {
	margin-top:15px;
	height:35px;
}



#keypad-switch {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height:25px;
  background-size: cover;
  border-radius: 50px;
  outline: none;
  transition: background-image .90s;
  box-shadow: 0px 2px 5px 1px gray;
  background-color: #b6b6b6;
  content:"tamil";
}

#keypad-switch:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /*background-color: navy;*/
  border-radius: 50%;
  transition: all .9s;
  background-color: #f2eeff; 
}

#keypad-switch:checked {
  /*background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png); */
  transition: background-image .90s;
  background-color:blue;
  content:"english";
  

}

#keypad-switch:checked:before {
  transform: translate(100%);
  transition: all .9s;
  background-color: #ECF0F3;
}



#keypad-switch:checked + #keypad-switch:before {
 -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

#tamil-keymap {
	display:flex;
	margin-left:10px;
}

#tbl-vowels, #tbl-consonant, #tbl-vowels td, #tbl-consonant td {
	border:1px solid #dddd;
	text-align:left;
	padding:5px;
}

#tbl-vowels td, #tbl-consonant td {
	background-color:#fff4dd;
	color:green;
}


#tbl-vowels, #tbl-consonant {
	background-color:grey;
	margin-left:10px;
}

#article-text {
	width:100%;
	height:100px;
}


.tbl-english {
	color:#3e533e;
	font-size:90%;
}

.tbl-colon {
	color:#3e533e;
}
.tbl-tamil {
	color:#c66100;
	font-size:120%;
}

#tbl-vowels-h, #tbl-consonant-h {
	color:#3a398f;
	background-color:#f2bd5c;
	font-size:20px;
	text-align:center;
}

.scrollbar
{
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#open-article {
	margin-top:10px;
	margin-left:10px;
	background-color: #f3f3f3;
}

#article-name {
	padding-top:5px;
	margin-left:20px;
}

#article-text {
	border:1px solid green;
	margin-left:20px;
	height: 150px;
	width: 80%; 
	border-radius:3px;
	display:block;
}

#trans-label {
	border:1px solid #757575;
	margin-left:20px;
	margin-top:10px;
	width:80%;
	text-align:center;
	border-radius:5px;
	background-color:#dcdcdc;
	color: #03894c;
	font-size:30px;
}
#article-status {
	width:50%;
	margin-left:20px;
	color: #de7d08;
}
#trans-font {
	float:right;
	*width:50%;
}

#article-translation {
	/*border:1px solid green;*/
	margin-left:10px; 
	margin-top:10px;
	height: 150px;
	width: 90%;
	/*border-radius:3px;*/
}
#translatedtext {
	width:100%;
	height:150px;
}

#save-article-btn {
	margin-left:10px;
	margin-top:0px;
	border-radius: 3px;
	cursor:pointer;
}
#submit-article-btn {
	margin-left:20px;
	margin-top:50px;
	border-radius: 3px;
	cursor:pointer;
}
#tamil-keymap {
	color: blue;
	margin-top:30px;
	/*display:none;
	visibility:hidden; */
}

.scroll-style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll-style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
