
	<div>
		<div style="border-style:solid;border-color:green">
			<ul id = "top_menu" class="menu-container">
			  <li id="menu_right" class="menu-right"><a href="/">முன் செல்வோம்</a></li>
			  <li id="menu_home" class="menu-list active" ><a href="/">Home</a></li>
			  <li id="menu_articles" class="menu-list not-active"><a href="/articles">Articles</a></li>
			  <li id="menu_translate" class="menu-list not-active" ><a href="/translate">Translate</a></li>
			  <li id="menu_signup" class="menu-list not-active" ><a href="/signup">Sign up</a></li>
			  <li id="menu_contact" class="menu-list not-active" ><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
