<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/sample.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<title>Munselvom - Tamil Mozhi peyarpu</title>
</head>

<body id="top">

	<!--  Menu section -->

	<section>
	<div id="menuid">
		<div class="menu-left"><a class="menu-left-link" href="#">Mun Selvom</a></div>
		<div>
		<ul class="menu-container">
			<li><a class="active" href="#home">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#recentart">Articles</a></li>
			<li><a href="#home">Signup</a></li>
		</ul>
		</div>
	</div>

	</section>
	
	<section>
		<div>
			<div>
			
				<!--  Home page -->
				<div id="home">
					<div class="home-image-container">
						<img src="/images/tamil/kanyakumari.jpg" alt="Thirumalai Nayakar Mahal, Madurai" width=800 height=600 >
						<div class="button-over-image">
							<button>Let's March Ahead</button>
						</div>
					</div>
				</div>
				
				<!--  About Munselvom -->
				<div id="äbout">
					<div style="border:1px solid rgb(36, 41, 128);margin:10px" >
						<h1>Who We are</h1>
						<h2>Helping Tamil community to translate more articles in Tamil</h2>
					</div>
					<div style="text-align:right;margin:10px">
						<p> <a href="#top">To become a volunteer</a>
						</p>
					</div>
				</div>
				
				<!--  Recent Articles -->
				<div id=recentart>
					<div>
						<p style="font-size:30px;margin:20px">Recent Articles...</p>
					</div>
					<div class=border-style>
						<a href=#top>A Title for article 1</a>
						<p> Here is the Sample content appears in this section for Title1, which has few paragraph of lines within this control. If user further wants to read, they can click the link. 
						 </p>
					</div>
					<div class=border-style>
						<a href=#top>A Title for article 2</a>
						<p> Here is the Sample content appears in this section for Title2, which has few paragraph of lines within this control. If user further wants to read, they can click the link. 
						 </p>
					</div>
					<div class=border-style>
						<a href=#top> A Title for article 3</a>
						<p> Here is the Sample content appears in this section for Title3, which has few paragraph of lines within this control. If user further wants to read, they can click the link. 
						 </p>
					</div>
				</div>
				
				<!--  Most read articles -->
				
				<div id="mostread">
					<div style="margin:20px"> 
						<p><b>Most Read Articles...</b></p>
					</div>
					<div class=border-style>
					    <div class=flex-container>
					    	<div class="col-t-1 col-1"><a>article 1</a></div>
					    	<div class="col-t-2 col-2"><a>article 2</a></div>
					    	<div class="col-t-3 col-3"><a>article 3</a></div>
					    	<div class="col-t-4 col-4"><a>article 4</a></div>
					    	<div class="col-t-5 col-5"><a>article 5</a></div>
					    	<div class="col-t-6 col-6"><a>article 6</a></div>
					    	<div class="col-t-7 col-7"><a>article 7</a></div>
					    	<div class="col-t-8 col-8"><a>article 8</a></div>
					    </div>
					</div>
				</div>
				<div>
					<div style="margin:20px"> 
						<p><b>Important Tags...</b></p>
					</div>
					<div class=border-style>
					    <div style="display:flex;margin-left:10px;flex-wrap:wrap">
					    	<div style="margin-left:10px"><a>thisistag1</a></div>
					    	<div style="margin-left:10px"><a>tag2</a></div>
					    	<div style="margin-left:10px"><a>iamtag3</a></div>
					    	<div style="margin-left:10px"><a>thisistag4</a></div>
					    	<div style="margin-left:10px"><a>tag5</a></div>
					    	<div style="margin-left:10px"><a>iamtag6</a></div>
					    	<div style="margin-left:10px"><a>vowtag7</a></div>
					    	<div style="margin-left:10px"><a>article8</a></div>
					    </div>
					</div>
				</div>
				<div>
					<div style="margin:20px"> 
						<p><b>Past Articles...</b></p>
					</div>
					<div class=border-style>
					    <div style="display:flex;margin-left:10px;flex-wrap:wrap">
					    	<div style="margin-left:10px"><a>October</a></div>
					    	<div style="margin-left:10px"><a>September</a></div>
					    	<div style="margin-left:10px"><a>August</a></div>
					    	<div style="margin-left:10px"><a>July</a></div>
					    	<div style="margin-left:10px"><a>June</a></div>
					    </div>
					</div>
				</div>
				<div>
					<div style="margin:25px;text-align:right">
						<a>All Articles</a>
					</div>
				</div>
				
				<div>
					<div style="margin:20px">
						<a href="#top">
							<img src="/images/facebook.jpg" height=25 width=25 alt="@facebook">
						</a>
						<a href="#mostread">
							<img src="/images/twitter.jpg" height=25 width=25 alt="@tweet" >
						</a>
						<a href="#mostread">
							<img src="/images/mail.jpg" height=25 width=30 alt="@mail" >
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>